.rain{
	position: absolute;
	border-radius: 3px;
	border-radius: 10px;
	transform: rotate(-45deg);
	animation-name: fall;
	-webkit-animation: fall 4s infinite;
}

.rain-1{
	top: 250px;
	left: 250px;
	z-index: 1;
	width: 275px;
	height: 2px;
	background: rgba(255, 255, 255, 0.9);
}

.rain-2{
	top: 75px;
	left: 50px;
	z-index: -1;
	width: 275px;
	height: 2px;
	background: rgba(255, 255, 255, 0.5);
}

.rain-3{
	top: 75px;
	left: 250px;
	z-index: -1;
	width: 275px;
	height: 2px;
	background: rgba(255, 255, 255, 0.5);
}

.rain-4{
	top: 75px;
	left: 550px;
	z-index: -1;
	width: 275px;
	height: 2px;
	background: rgba(255, 255, 255, 0.5);
}

.rain-5{
	top: 300px;
	left: 50px;
	z-index: -1;
	width: 275px;
	height: 2px;
	background: rgba(255, 255, 255, 0.5);
}

.rain-6{
	top: 300px;
	left: 250px;
	z-index: -1;
	width: 275px;
	height: 2px;
	background: rgba(255, 255, 255, 0.5);
}

.rain-7{
	top: 300px;
	left: 400px;
	z-index: -1;
	width: 275px;
	height: 2px;
	background: rgba(255, 255, 255, 0.5);
}

.rain-8{
	top: 550px;
	left: 50px;
	z-index: -1;
	width: 275px;
	height: 2px;
	background: rgba(255, 255, 255, 0.5);
}

.rain-9{
	top: 550px;
	left: 250px;
	z-index: -1;
	width: 275px;
	height: 2px;
	background: rgba(255, 255, 255, 0.5);
}

.rain-10{
	top: 500px;
	left: 0px;
	z-index: -1;
	width: 275px;
	height: 2px;
	background: rgba(255, 255, 255, 0.5);
}

/* The animation code */
@keyframes fall {
  0%   {left: left;}
  25%  {left: left-50;}
  50%  {left: left-50;}
  75%  {left: left-50;}
  100% {left: left-50;}
}
